.botones{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.botoncito{
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.casilla{
    height: 20px;
}